.services-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  height: 500px;
  overflow: hidden;
}

.service-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.service-card {
  min-width: 100%;
  transition: opacity 0.5s ease;
}

.service-card.active {
  opacity: 1;
}

.service-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  z-index: 1;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.service-description {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
}
